/* Airdrops Tutorials Modal Styles */

.modal-tutorial {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); /* Mais escuro para mais foco no modal */
  display: none;
  animation: fadeInModal 0.5s; /* Animação suave de entrada */
}

@keyframes fadeInModal {
  from { opacity: 0; }
  to { opacity: 1; }
}

.modal-content-tutorial {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px; /* Borda arredondada */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); /* Sombra mais suave e profunda */
  width: 60%; /* Mais amplo */
  max-width: 600px; /* Limitação para não ficar muito grande */
  position: relative;
  transform: scale(0.95); /* Efeito de escala inicial */
  animation: scaleIn 0.3s forwards; /* Animação de escala */
}

@keyframes scaleIn {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}

.close-button-tutorial {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.2s; /* Transição suave para mudança de cor */
}

.close-button-tutorial:hover,
.close-button-tutorial:focus {
  color: #ff4757; /* Cor destacada ao interagir */
  cursor: pointer;
}

.main-content-tutorial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-header-tutorial {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.airdrops-list-tutorial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: start;
  padding: 0;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.airdrop-item-tutorial {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20px;
}

.tutorial-text {
  display: block;
  margin-left: 2em; /* Isso cria o efeito de recuo/tábua */
}