/* 1. Reset and General Configurations */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7fc;
  color: #333;
  line-height: 1.6;
}

*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 2. Main Layout */
.page-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  align-items: stretch;
}

.sidebar {
  width: 250px; /* Largura fixa */
  background-color: #191F2F;
  color: #FFF;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.button-icon {
  width: 30px; /* ou a dimensão que preferir */
  height: auto; /* mantém a proporção do ícone */
  margin-right: 10px; /* ajuste conforme necessário */
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-x: hidden;
  min-height: 800px; /* Ajuste conforme necessário */
}

/* 3. Header */
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
}

.header-buttons {
  margin: 0;
  align-items: center;
  margin-left: auto;
  display: flex;
  gap: 10px;
}

.dashboard-header h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 10px 0;
}

/* 4. Tooltips */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.header-button {
  text-decoration: none;
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
}

.header-button .button-icon {
  font-size: 24px;
}

.header-button:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* 5. Kanban Board */
#kanban-board {
  margin-top: 60px;
  width: calc(100% - 40px);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.kanban-column {
  width: 300px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  overflow-y: auto; /* Permite rolagem vertical se o conteúdo exceder a altura */
  max-height: 80vh; /* 80% da altura da viewport */
}

/* Estiliza a barra de rolagem para todos os elementos scrolláveis dentro de .kanban-column */
.kanban-column::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  background-color: #f4f7fc; /* Cor de fundo da barra de rolagem */
}

.kanban-column::-webkit-scrollbar-thumb {
  border-radius: 4px; /* Bordas arredondadas para o thumb */
  background-color: #f4f7fc; /* Cor do thumb da barra de rolagem */
}

.kanban-column::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* Cor do thumb ao passar o mouse */
}


.kanban-stage-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  position: relative;
}

.kanban-stage-number {
  font-size: 2.5em;
  font-weight: bold;
  color: #4e73df;
}

.kanban-stage-title {
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
}

.kanban-stage-separator {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 20px;
  background-color: #ddd;
  margin-right: 10px;
}

.airdrop-card {
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; 
}

.airdrop-website, 
.airdrop-wallet {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}

.airdrop-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.airdrop-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.airdrop-website, 
.airdrop-wallet {
  font-size: 0.9em;
}

/* 6. Sidebar */
.sidebar-button {
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  text-align: left;
  display: flex;
  align-items: center;
}

.sidebar-button:hover {
  background-color: #1ABC9C;
}

.button-icon {
  margin-right: 10px;
}

.button-text {
  flex-grow: 1;
}

.sidebar-separator {
  border-bottom: 1px solid #ffffff; /* Use uma cor que combine com o design */
  margin: 10px 0; /* Espaçamento acima e abaixo do separador */
}

/* Sidebar logo and title side by side */
.logo-container {
  display: flex;
  align-items: center;
  gap: 0px; /* Reduz o espaço entre o logo e o texto, ajuste conforme necessário */
}

.logo-image {
  width: 100px; /* Tamanho do logo ajustado para ficar menor */
  height: auto;
}

.logo-title {
  font-size: 2.5em; /* Tamanho da fonte do título */
  color: #FFF; /* Cor do texto */
  margin: -30; /* Remove qualquer margem padrão */
  padding-left: 0px; /* Adiciona um pequeno espaço à esquerda do título, se necessário */
}



/* 8. Checkbox */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 4px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* 9. Additional Styles */
.daily-checkin-done {
  color: green;
  margin-top: 10px;
}

.airdrop-details {
  margin-bottom: 15px; 
}

.airdrop-links {
  margin-top: 15px; 
}

.delete-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.delete-airdrop-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.delete-airdrop-button:hover {
  color: #ff4444;
}